.Sidebar {
    
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 25%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    background-color: rgb(51, 71, 91);
    will-change: transform;
    transition: all .3s;
  }
  .Sidebar-hide {
    
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 25%;
    max-width: 400px;
    display: flex;
    margin-left: -337px;
    flex-direction: column;
    background-color: rgb(51, 71, 91);
    transition: all .3s;
  }
/* not small devices  */
@media (min-width: 576px) {
  .Sidebar {
    width: 341px;
  }
}